.container {
  margin: 0;
  min-height: 100vh;
  background-color: lightblue;
}

.page-header {
  width: 100%;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 20px;
  font-family: 'Pacifico';
  color: rgb(106, 6, 106);
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

form {
  background-color: white;
  padding: 20px;
  margin: 0 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.604);
}

.form-field {
  display: flex;
  justify-content: space-between;
  min-width: 350px;
  align-items: center;
  margin: 10px 0;
}

h2 {
  align-self: center;
}

input, textarea, select {
  padding: 5px;
  min-width: 200px;
}

.rating-form {
  width: 400px;
  box-shadow: none;
}

.form-submit {
  padding: 10px;
  margin: 10px 0;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-submit:hover {
  background-color: rgb(86, 1, 86);
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.card {
  display: flex;
  background-color: white;
  margin: 10px;
  align-items: center;
  width: 320px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.347);
  cursor: pointer;
  text-overflow: ellipsis;
  text-decoration: none;
  color: black;
}

.card:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.image {
  width: 170px;
  height: 170px;
  display: flex;
  align-items: center;
  margin: 10px;
}

.pet-img {
  object-fit: cover;
  width: 170px;
  height: 170px;
}

.rating {
  font-size: small;
  color: gray;
  display: flex;
  align-items: center;
}

.rating-number {
  margin-left: 5px;
}

.details-container {
  background-color: white;
  width: 600px;
}

.details {
  display: flex;
}


/* Rating */

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}